<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dion Dev Page</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/offcanvas.css" rel="stylesheet">
</head>

<!-- begin include & layouts/main  -->

<body class="bg-light">

    <!-- begin include & index  -->
    {{{body}}}
    <!-- end include & index  -->

    <script src="/javascripts/jquery-3.2.1.slim.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/holder.min.js"></script>
    <script src="/javascripts/offcanvas.js"></script>

</body>

<!-- end include & layouts/main  -->

</html>
